<!-- views/partials/comment.handlebars -->

<div class='card' id='{{comment._id}}'>
  <div class='card-block'>
    <h4 class='card-title'>{{comment.title}}</h4>
    <p class='card-text'>{{comment.content}}</p>
    <!-- Delete link -->
    {{!-- <p><form
        method='POST'
        action='/movies/{{movieId}}/reviews/{{comment.reviewId}}/comments/{{comment._id}}?_method=DELETE'
      >
        <button class='btn btn-link' type='submit'>Delete</button>
      </form></p> --}}
    <button
      class='btn btn-link delete-comment'
      data-comment-id='{{comment._id}}'
      data-comment-reviewId='{{comment.reviewId}}'
      data-comment-movieId='{{movieId}}'
    >Delete</button>
  </div>
</div>