<!-- views/reviews-show.handlebars -->
<a href="/movies/{{review.movieId}}">Back to {{review.movieTitle}}</a>
<a href='/'>Back to Home</a>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <h1>{{review.title}}</h1>
    <p class="text-muted">Created on: {{review.createdAtFormatted}}</p>
    <h2>{{review.movieTitle}}</h2>
    <p>{{review.description}}</p>
    <p><a href='/reviews/{{review._id}}/edit'>Edit</a></p>
    <p><form
        method='POST'
        action='/movies/{{review.movieId}}/reviews/{{review._id}}?_method=DELETE'
      >
        <button class='btn btn-primary' type='submit'>Delete</button>
      </form></p>

    <hr />

    <!-- Comment form -->
    {{> comment-form}}

    <hr>

    <div id="comments">
      <!-- Show Comments -->
      {{#each comments}}
        {{> comment comment=this movieId=../review.movieId}}
      {{/each}}
    </div>
  </div>
</div>